<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="usach.uoct.patentesuoct">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Vistas.Home"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Vistas.Configuracion"
            android:label="@string/title_activity_configuracion"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Vistas.Patente"
            android:label="@string/title_activity_patente"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Vistas.Horario"
            android:label="@string/title_activity_horario"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Vistas.FAQ"
            android:label="@string/title_activity_faq"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Vistas.SituacionAmbiental"
            android:label="@string/title_activity_situacion_ambiental"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>